/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Georgia;
    /* margin: 0 5%px; */
}

#nav {
    /* background-color: rgb(55, 48, 107); */
    overflow: hidden;
}

#nav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 50px;
}

/* Error Popup */
.error-popup {
    display: None;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
  
.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Error Pop up end */

button {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.intro-screen {
    margin: 20px; 
    padding: 20px; 
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.btn-submit {
    width: 311px;
    height: 30px;
    border: 0;
    border-radius: 6px;
    margin: 7px;
    background-color: rgb(102,52,127);
    color: white;

}

.btn-submit:hover {
    background-color: rgb(55, 48, 107);
    transition: 0.4s;
}

.btn-leave {
    background-color: transparent;
    color: rgb(102,52,127);
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-leave:hover {
    text-decoration: underline;
}

input {
    padding: 0;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 7px;
    padding: 1px 5px;
    /* border-: 5px; */
}

.job-container {
    border: 1px solid magenta;
    margin: 5px;
    padding: 10px;
}

#main-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.job-post {
    /* padding: 0 300px; */
    outline: 1px solid pink;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: start;
    /* text-align: ce; */

}

.job-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
    border: 1px solid green;
}

.job-img {
    height: 50px;
    padding: 0 20px;
}

.job-description {
    width: 400px;
    word-wrap: break-word;
}

p {
    font-size: 12px;
    display: inline;
}

h5 {
    display: inline;
    font-size: 1.5em;
    text-align: center;
}
.likes-comments-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.post-comment {
    width: 100%;
    display: flex;
}

.add-comment {
    width: 80%;
}

.hover-underline:hover {
    text-decoration: underline;
}

.profile-info {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    margin: 30px 0;
}

.other-profile-page {
    border: 1px solid violet;
}

.profile-img {
    width: 90px;
    border-radius: 50%;
}

.profile-name {
    display: inline;
    margin: 10px 0 0 0;
}

.watchers {
    display: inline;
    font-size: 10px;
}

#own-profile-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.edit-job-buttons {
    position: relative;
    right: 50px;
    width: 0;
    height: 0;
}

#update-profile {
    position: relative;
    width: 0;
    height: 0;
    right: -80px;
}

.change-job {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid aqua;
}

.update-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}